.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  width: 150px;
  height: 157px;
  overflow: hidden;
}
img.image {
  width: 100%;
}
.cnt{
  background-image: url(../src/images/bg.png);
  transition-duration: 5s;
  height: 100000px;
  background-repeat: repeat-y;
  background-size: contain;
}
.linecontainer {
  display: flex;
}

.cell {
  width: 140px;
  height: 148px;
  border: 5px solid gold;
  z-index: 9999 !important;
  position: absolute;
}