.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  width: 150px;
  height: 157px;
  overflow: hidden;
}
img.image {
  width: 100%;
}
.cnt{
  background-image: url(../src/images/bg.png);
  transition-duration: 3s;
  height: 100000px;
  background-repeat: repeat-y;
  background-size: contain;
}
.linecontainer {
  display: flex;
  transform: scale(1.3);
  margin-bottom: 80px;
}

.cell {
  width: 149px;
  height: 447px;
  border: 2px solid gold;
  z-index: 9999 !important;
  position: absolute;
  box-shadow: 0px 3px 42px -8px rgba(0,0,0,0.92) inset;
-webkit-box-shadow: 0px 3px 42px -8px rgba(0,0,0,0.92) inset;
-moz-box-shadow: 0px 3px 42px -8px rgba(0,0,0,0.92) inset;
border-radius: 3px;
}
.line {
  width: 150px;
  height: 445px;
  overflow: hidden;
}
html {
  height: 100%;
}
.bgwrapperthree {
  background-size: cover;
  background-image: url(../src/images/main-background.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  position: absolute;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}
.container-overlay{
  background-color: #00000059;
}

.bottom {
  background-color: #00000070;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 105px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/*Golden button*/
.buttonborder {
  position: absolute;
  padding: 2px;
  border-radius: 6px;
  background: linear-gradient(142.75deg, #FEE3C2 10.1%, #FBB965 79.29%);
  height: 56px;
  width: 317px;
  margin: auto;
  margin-top: 18px;
  overflow: hidden;
  transform: scale(1);
}

.button{
  position:relative;
  background: linear-gradient(93.86deg, #FFCB46   3.95%, #FFDE88 26.05%, #FFE091 40.73%, #FFCB44 61.42%);
  border-radius: 4px;
  height:100%;
  width:100%; 
  color:#3E3026;
  text-align:center;
  font-family:'Nunito', sans-serif;
  font-size:27px;
  font-weight:700;
  line-height:56px;
  opacity:0.9; 
}

.button:hover ~ .lineq{
animation: shine 3.5s ease-in 0s infinite forwards;
}

.buttonborder:hover{
animation: grow 0.2s ease-in-out 0s forwards;
cursor:pointer;
}


.lineq{
position:absolute;
top:-8px;  
left:-20px;
transform:translateX(0);
}

.linerotate{
background:white;
-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-ms-filter: blur(10px);
-o-filter: blur(10px);
filter: blur(10px);
height:80px; 
width:20px;
transform:rotate(-20deg);
opacity:50%;
}  

@keyframes shine{
0%{
  transform:translateX(0);
}
100%{
  transform:translateX(5000px);
}
}

@keyframes grow{
0%{
  transform: scale(1);
}

100%{
  transform: scale(1.03);
}
}
/**/
.mybalance {
  align-self: flex-end;
  color: #fff;
  width: 287px;
  height: 60px;
  background-color: #dcdcdc4d;
  position: absolute;
  left: 234px;
  top: 23px;
  border-radius: 22px;
  font-size: 24px;
}
.mybalance p {
  margin-top: 11px;
}
.mybet {
  align-self: flex-end;
  color: #fff;
  width: 287px;
  height: 60px;
  background-color: #dcdcdc4d;
  position: absolute;
  right: 234px;
  top: 23px;
  border-radius: 22px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.mybet p {
  margin-top: 11px;
}
.animationgreed {
    width: 100%;
    height: 100%;
    position: absolute;
}
.mainmenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/menu2.jpg');
  background-size: cover;
}
/*slider*/
li.slide {
  opacity: 1;
}
.carousel.carousel-slider img {
  max-width: 30%;
}