body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.number {
  width: 50px;
  height: 50px;
  justify-content: center;
  color: white;
  display: flex;
  font-size: 28px;
  margin: 52px;
  text-align: center;
}
.number.black {
  background-color: black;
}

.number.red {
  background-color: red;
}
.upbet, .downbet {
  background: linear-gradient(93.86deg, #FFCB46 3.95%, #FFDE88 26.05%, #FFE091 40.73%, #FFCB44 61.42%);
  color: #000;
  height: 28px;
  width: 22px;
  margin-top: 2px;
  cursor: pointer;
  user-select: none;
}
.controlbet {
  position: relative;
  left: 30px;
}